# code: language=yaml
{{- $eff := $state.spec.effective }}

# Build the subject patterns for the trust policy
# Format: repo:<org>/<repo>:<ref>
{{- $subjectPatterns := list }}
{{- range $refPattern := $eff.github.refPatterns }}
  {{- $subjectPatterns = append $subjectPatterns (printf "repo:%s/%s:%s" $eff.github.owner $eff.github.repository $refPattern) }}
{{- end }}
{{- if ne $eff.github.ownerId "" }}
  {{- $immutableOwner := printf "%s@%s" $eff.github.owner $eff.github.ownerId }}
  {{- $immutableRepository := $eff.github.repository }}
  {{- if ne $eff.github.repository "*" }}
    {{- $immutableRepository = printf "%s@%s" $eff.github.repository $eff.github.repositoryId }}
  {{- end }}
  {{- range $refPattern := $eff.github.refPatterns }}
    {{- $subjectPatterns = append $subjectPatterns (printf "repo:%s/%s:%s" $immutableOwner $immutableRepository $refPattern) }}
  {{- end }}
{{- end }}
{{- $subjectPattern := first $subjectPatterns }}

# Build the OIDC provider ARN
{{- $oidcProviderArn := printf "arn:aws:iam::%s:oidc-provider/token.actions.githubusercontent.com" $eff.accountId }}

# Role name - already defaulted in state-init
{{- $roleName := $eff.role.name }}

# Core computed state
{{- $actionsconnector := dict
  "name" $eff.name
  "accountId" $eff.accountId
  "providerConfig" $eff.providerConfigRef
  "managementPolicies" $eff.managementPolicies
  "labels" $eff.labels
  "tags" $eff.tags
  "oidcProvider" (dict
    "render" true
    "name" (printf "%s-gha-oidc" $eff.name)
    "arn" $oidcProviderArn
    "url" "https://token.actions.githubusercontent.com"
    "thumbprints" $eff.github.thumbprints
    "externalName" $eff.oidcProvider.externalName
  )
  "role" (dict
    "render" true
    "name" $roleName
    "externalName" $eff.role.externalName
    "permissionsBoundary" $eff.role.permissionsBoundary
    "maxSessionDuration" $eff.role.maxSessionDuration
  )
  "policyAttachment" (dict
    "render" true
    "name" (printf "%s-policy" $roleName)
    "policyArn" $eff.policy.arn
    "externalName" $eff.policyAttachment.externalName
  )
  "trustPolicy" (dict
    "subject" $subjectPattern
    "subjects" $subjectPatterns
  )
}}
{{- $state = set $state "actionsconnector" $actionsconnector }}
